@use "@db-ui/foundations/build/scss/default.assets-paths" with (
	$icons-path: "https://ppassets.azureedge.net/assets/icons/",
	$images-path: "https://ppassets.azureedge.net/assets/images/",
	$fonts-path: "https://ppassets.azureedge.net/assets/fonts/"
);
@forward "@db-ui/components/build/styles/db-ui-42";

[class^="db-"],[class^="db-"] input{

	box-sizing: border-box;
}



